.bouton_404{
    display: flex;
    width: 200px;
    height: 70px;
    padding: 18px 41px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--Vert-fonc, #88AB8E);
    color: var(--Blanc, #FFF);
    font-size: 16px;
    font-weight: 700;
    font-family: var(--montserrat);
    border: none;
    z-index: 1;
}

.bouton_parent_404{

}

.bouton_lien_404{

}

.paragraphe_basic_404{
    font-weight: 400;
    font-size: 16px;
    color: var(--vert_foncé);
    text-align: center;
    padding: 0 20px;
}