header{
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 100;
}


.header_titre{
    font-size: 32px;
    font-family: var(--montserrat);
    color: var(--Blanc, #FFF);
    text-align: center;
    
}

.header_titre_menu {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
    font-family: var(--montserrat);
    color: var(--Blanc, #FFF);
    margin-top: 25px;
    margin-left: 20px;
}

.header_bat{
    margin-top: 5px;
    width: 43px;
    height: 43px;
    margin-left: 20px;
    
}

.header_burger{
    width: 43px;
    height: 43px;
    margin-right: 20px;
    position: relative; 
    z-index: 10; 
      
}

.header_principal{
    background: var(--vert_foncé);
    width: 100%;
}

.header_nav{
    min-height: 84px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.header_lien_logo{
    width: 110px;
}