.légende_img{
    text-align: center;
    font-size: 12px;
    color: #5C636E;
    padding-bottom: 10px;
}

.img_avec_légende{
    margin-left: 10%;
    width: 75%;
    
}

.img_beige{
    position: relative; 
}

.flèche_verte{
    position: absolute;
    z-index: -1; 
    width: 27%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
}

.img_frise{
    z-index: +1;
}