main {
    margin-top: 84px;  
}
header,main,footer{
    font-family: var(--montserrat);
    max-width: 100vw;
    overflow-x: hidden;
}

.titre_page_sur_image{
    position: absolute;
    top: 145px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--Blanc, #FFF);
    font-size: var(--header_main);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.titre_page_sur_oeuvre{
    position: absolute;
    top: 90px;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--Blanc, #FFF);
    font-size: var(--header_main);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.titre_page_sur_oeuvre2{
    position: absolute;
    top: 125px;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--Blanc, #FFF);
    font-size: var(--header_main);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titre_page_sur_oeuvre3{
    position: absolute;
    top: 65px;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--Blanc, #FFF);
    font-size: var(--header_main);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.titre_page_beige{
    position: absolute;
    top: 62px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--vert_foncé);
    font-size: var(--header_main);
    
}

.titre_vert{
    padding: 10px 0px 35px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--vert_foncé);
    font-size: var(--header_main);
}

.titre_vert_biographie{
    padding: 10px 0px 35px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--vert_foncé);
    font-size: 40px;
}

.titre_page_beige_3{
    position: absolute;
    top: 85px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--vert_foncé);
    font-size: var(--header_main);
}

.img_principale{
    filter: blur(1.5px);
}


.information_page{
    font-size: 10px;
    color: #5C636E;
}

.Titre_paragraphe_basic{
    font-weight: 400;
    padding: 30px 15px 15px 20px;
}

.paragraphe_basic{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.paragraphe_basic_billeterie{
    padding-bottom: 92%;
}

.Liste_Titre{
    font-weight: 400;
    padding-bottom: 15px;
    padding-left: 20px;
}

.Liste_groupe{
padding-bottom: 30px;
padding-left: 20px;
padding-right: 20px;
list-style-type: none;
}

.Liste_seule{
    padding-bottom: 10px;
    padding-right: 15px;
}

.citation{
    padding-bottom: 15px;

}

.citation_groupe{
    padding: 30px 30px 25px 30px;
    background-color: var(--beige);
    margin-bottom: 25px;
}

.citation_auteur{
    text-align: right; 
}

.information_page{
    padding-bottom: 15px;
}

.bloc_frise{
    background-color: var(--beige);
    
}

.bloc_frise_img{
    padding: 25px 0px 125px 0px;
}

.frise_oeuvre{
    text-align: center;
    padding-top: 15px;
}

.frise_oeuvre_date {
    text-align: center;
}

.bloc_biographie{
    display : flex;
}

.accordéon_onglet{
    margin-bottom: 250px;
}

