.noscroll,
.noscroll body {
overflow: hidden;
}

.menu {
    position: fixed; /*reste en place lors du défilement*/
    top : 0; /*fixe le menu en haut de la page*/
    left : 0;
    width: 100vw; /*largeur de la fenêtre*/
    height: 100vh; /*hauteur de la fenêtre*/
    background: var(--vert_foncé); /*couleur de fond*/
    display : grid; /*grille (pour centrer)*/
    place-content: center; /*aligmement au centre (V et H) */
    text-align: center;
  }

 
.link_menu{
    font-size: var(--header1);
    line-height: 250%;
    text-decoration: none;
    color: var(--blanc);
  }

.menu_titre{
    position: absolute;
    top: 2.5%;
    left: -100px; 
    font-size: var(--header3);
    line-height: 200%;
    text-decoration: none;
    color: var(--blanc);
}    


.menu_logo {
  bottom: 10%;
  left: 42.5%;
  width: 15%;
  position: absolute;
  
   
  }

  