.menu {
    position: fixed; /*reste en place lors du défilement*/
    top : 0; /*fixe le menu en haut de la page*/
    left : 0;
    width: 100vw; /*largeur de la fenêtre*/
    height: 100vh; /*hauteur de la fenêtre*/
    background: var(--vert_foncé); /*couleur de fond*/
    display : grid; /*grille (pour centrer)*/
    place-content: center; /*aligmement au centre (V et H) */
    text-align: center;
  }
  .header_burger {
    position: relative; /*pour appliquer z-index*/
    z-index: 10; /*pour que le bouton soit au dessus du menu*/
  }
 
  .texte_menu{
    font-size: 40px;
    line-height: 200%;
    text-decoration: none;
    color: var(--blanc);
  }
.header_titre_menu{
position: inherit;
left: auto;
}    


  .menu_logo {
   text-align: center;
   width: 20%;
  padding-top: 10%;
   
  }

  