@import "/src/fonts/variables.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_titre{
    font-size: 32px;
    font-family: var(--font-sans-serif);
    color: var(--Blanc, #FFF);
    
    
}

.header_bat{
    width: 43px;
    height: 43px;
    
}

.header_burger{
    width: 43px;
    height: 43px;
    
      
}

.header_principal{
    background: var(--vert_clair);
}

.header_nav{
    min-height: 84px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}